:host {
    position: absolute;
    z-index: 100;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    background-color: var(--primary);
    border-radius: var(--border-radius);

    button {
        width: calc(50% - 15px);
        padding: 5px;
        margin-bottom: 10px;

        &.clear-btn {
            background-color: red;
            margin: 0 10px;
        }

        &.save-btn {
            background-color: green;
        }
    }
}