@if (!isDefault) {
    <div class="section-header">
        @if (showEditor) {
            <app-text-editor
                [initialValue]="name"
                [singleRow]="true"
                (close)="toggleEditor()"
                (save)="update($event)"
            />
        } @else {
            <h2>
                {{ name }}
                @if (tasks.length) {
                    <span class="task-count">{{ tasks.length }}</span>
                }
            </h2>
            <app-section-context-menu
                [sectionId]="id"
                [projectId]="projectId"
                [name]="name"
                (openSectionEditor)="toggleEditor()"
            />
            <app-icon-button
                class="opening-status"
                [height]="27"
                [fontSize]="15"
                icon="chevron-{{ isOpen ? 'down' : 'right'}}"
                (click)="toggleOpening()"
            />
        }
    </div>
}

@if (isOpen) {
    @for (task of tasks; track task.id) {
        <app-task
            [date]="task.date"
            [content]="task.content"
            [isCompleted]="task.isCompleted"
            [id]="task.id"
        />
    }
    
    <app-task-new
        [nextOrder]="nextOrder"
        [projectId]="projectId"
        [sectionId]="id"
    />    
}