@if (!isDefault) {
    <div class="section-header">
        @if (showEditor) {
            <app-section-editor
                [name]="name"
                (close)="toggleEditor()"
                (save)="update($event)"
            />
        } @else {
            <h2>{{ name }}</h2>
            <app-section-context-menu
                [sectionId]="id"
                [projectId]="projectId"
                [name]="name"
                (openSectionEditor)="toggleEditor()"
            />
        }
    </div>
}

@for (task of tasks; track task.id) {
    <app-task
        [date]="task.date"
        [content]="task.content"
        [isCompleted]="task.isCompleted"
        [id]="task.id"
    />
}

<app-task-new
    [nextOrder]="nextOrder"
    [projectId]="projectId"
    [sectionId]="id"
/>
