button {
    &:hover {
        background-color: var(--accent);
        border-radius: var(--border-radius);
    }

    i {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}