<form
    class="editor"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
>
    <div class="name">
        <label for="name">Name</label>
        <input autofocus type="text" formControlName="name" autocomplete="off" />
    </div>

    <div class="view">
        <label for="subtasks">View</label>
        <select name="view" formControlName="view">
            @for (view of views; track $index) {
                <option value="{{view}}">{{view}}</option>
            }
        </select>
    </div>

    <button (click)="onClose()" class="btn-cancel" type="button">
        Cancel
    </button>

    <button class="btn-submit" type="submit" [disabled]="!form.valid">
        Save
    </button>
</form>