:host {
    position: fixed;
    top: 13px;
    right: 13px;
    z-index: 10;
    
    button {
        font-size: 22px;

        &:hover {
            background-color: var(--accent);
        }
    }
}