:host {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    table {
        border-collapse: collapse;
        margin: 20px auto;
    
        tr {
            th, td {
                height: 40px;
                min-width: 40px;
    
                &:first-of-type {
                    min-width: 200px;
                    padding-left: 10px;
                    border: 1px solid lightgrey;
                    cursor: default;
                }
            }
    
            th, td {
                border: 1px solid lightgrey;
            }

            td {
                cursor: pointer;
                text-align: center;

                &.completed {
                    background-color: green;
                }

                &.inactive {
                    cursor: not-allowed;
                }
            }
        }
    }    
}