<nav>
    <ul>
        @for (project of projects$ | async; track $index) {
            <app-menu-item 
                cssClass="circle-fill project-icon"
                [path]="project.uuid"
                text="{{ project.name }}"
            />
        }
    </ul>
    @for (area of areas; track $index) {
        <app-area
            [name]="area.name"
            [id]="area.id"
            [isOpen]="area.isOpen"
        />
    }
    <a routerLink="new">+ new project</a>
    <app-area-new [nextOrder]="areas.length + 1" />
</nav>
