@if (isEdited) {
    <app-task-editor
        [currentContent]="content"
        [currentSubtasks]="subtasks"
        (close)="toggleEditor()"
        (save)="update($event)"
    />
} @else {
    <app-task-checkbox
        [id]="id"
        [isCompleted]="isCompleted"
        [subtasks]="subtasks"
        [completedSubtasks]="completedSubtasks"
    />

    <span (click)="showDescription()" class="content">
        {{ content }}

        @if (hasSubtasks) {
            <span class="subtasks">
                {{ completedSubtasks }}/{{ subtasks }}
            </span>
        }

        @if (date) {
            [{{ date }}]
        }
    </span>
    <app-task-context-menu [id]="id" (openEditor)="toggleEditor()" (openDatePicker)="toggleDatePicker()" />
    
    @if (showDatePicker) {
        <app-date-picker [date]="date" (onSave)="setDate($event)" /> 
    }
}