:host {
    display: flex;
    align-items: center;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
    max-width: 400px;
    margin-bottom: 10px;

    &.completed {
        i {
            color: green;
        }
    }

    .completion {
        margin: 0 5px 0 1px;
    }

    .content {
        display: flex;
        align-items: center;
        flex: 1;

        .subtasks {
            display: block;
            margin-left: 5px;
            padding: 2px 3px;
            border-radius: 5px;
            background-color: var(--accent);
        }
    }
}