<div class="section-header">
    @if (showEditor) {
        <app-section-editor
            [name]="name"
            (close)="toggleEditor()"
            (save)="update($event)"
        />
    } @else {
        <h2>{{ name }}</h2>
        <app-section-context-menu
            [sectionId]="id"
            [projectId]="projectId"
            [name]="name"
            (openSectionEditor)="toggleEditor()"
        />
    }
</div>

@for (task of tasks$ | async; track task.id) {
    <app-task
        [date]="task.date"
        [subtasks]="task.subtasks || 0"
        [completedSubtasks]="task.completedSubtasks || 0"  
        [content]="task.content"
        [isCompleted]="task.isCompleted"
        [id]="task.id"
    />
}

<app-task-new [projectId]="projectId" [sectionId]="id"/>
