<h1>{{ day }} {{ month }}</h1>

@for (habit of habits$ | async; track habit.id) {
    <app-habit-task
        [currentValue]="habit.currentValue"
        [id]="habit.id"
        [isCompleted]="habit.isCompleted"
        [name]="habit.name"
        [targetValue]="habit.targetValue"
    /> 
}

@for (task of tasks$ | async; track task.id) {
    <app-task
        [subtasks]="task.subtasks || 0"
        [completedSubtasks]="task.completedSubtasks || 0"  
        [content]="task.content"
        [isCompleted]="task.isCompleted"
        [id]="task.id"
    />
}

<app-task-new [date]="date"/>