<h1>{{ name }}</h1>

<app-project-context-menu
    [id]="id"
    [uuid]="uuid"
    [isFavorite]="isFavorite"
    (openSectionEditor)="toggleSectionEditor()"
/>

@for (section of sections; track section.id) {
    <app-section 
        [name]="section.name"
        [id]="section.id"
        [isDefault]="section.id === defaultSectionId"
        [isOpen]="section.isOpen"
        [projectId]="section.projectId"
    />
}

@if (showSectionEditor) {
    <app-section-editor
        (close)="toggleSectionEditor()"
        (save)="saveSection($event)"
    />
}