:root {
    --border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: var(--text-color);
}

app-root {
    display: block;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--background);
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}

li {
    list-style: none;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}