<nav>
    <app-icon-button icon="list" (onClick)="toggle()" />
    <ul>
        <app-menu-item
            cssClass="inbox"
            path="inbox"
            text="Inbox"
        />
        <app-menu-item
            cssClass="calendar3-event"
            path="today"
            text="Today"
        />
        <app-menu-item
            cssClass="calendar3-week"
            path="week"
            text="Week"
        />
        <app-menu-item
            cssClass="calendar3"
            path="upcoming"
            text="Upcoming"
        />
        <app-menu-item
            cssClass="rocket-takeoff"
            path="habits"
            text="Habits"
        />
    </ul>
    <ul>
        @for (project of projects$ | async; track $index) {
            <app-menu-item 
            color="{{ project.color }}"
            cssClass="circle-fill project-icon"
            path="project/{{ project.id }}"
            text="{{ project.name }}"
            />
        }
    </ul>
    <br>
    <button (click)="openAreaEditor()">Add new area</button>
    <br>
    <br>
    <button (click)="openProjectEditor()">Add new project</button>
</nav>
<div (click)="toggle()" class="overlay"></div>
