<nav class="main-menu">
    <ul>
        <li>
            <a routerLink="/inbox" routerLinkActive="active">
                <i class="bi bi-inbox"></i>
            </a>
        </li>
        <li>
            <a routerLink="/today" routerLinkActive="active">
                <i class="bi bi-calendar3-event"></i>
            </a>
        </li>
        <li>
            <a routerLink="/priorities" routerLinkActive="active">
                <i class="bi bi-star-fill"></i>
            </a>
        </li>
        <li>
            <a routerLink="/calendar" routerLinkActive="active">
                <i class="bi bi-calendar3"></i>
            </a>
        </li>
        <li>
            <a routerLink="/habits" routerLinkActive="active">
                <i class="bi bi-rocket-takeoff"></i>
            </a>
        </li>
        <li>
            <a routerLink="/projects" routerLinkActive="active">
                <i class="bi bi-check-square"></i>
            </a>
        </li>
        <li>
            <a routerLink="/notes" routerLinkActive="active">
                <i class="bi bi-journal-text"></i>
            </a>
        </li>
        <li class="settings">
            <a routerLink="/settings" routerLinkActive="active">
                <i class="bi bi-gear"></i>
            </a>
        </li>
        <li class="logout">
            <a routerLink="/logout" routerLinkActive="active" (click)="logout()">
                <i class="bi bi-door-closed"></i>
            </a>
        </li>
    </ul>
</nav>