:host {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100vh;
    background-color: var(--primary);

    nav {
        height: 100%;
        padding: 10px 0;

        ul {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 110px;

            li {
                &.settings, &.logout {
                    position: absolute;
                }

                &.settings {
                    bottom: 60px;
                }

                &.logout {
                    bottom: 15px;
                }
                
                a {
                    padding: 10px;
                    border-radius: var(--border-radius);
                    font-size: 18px;
                    
                    &.active {
                        background-color: var(--accent);
                    }
                }
            }
        }
    }
}